:root {
  --funkyPurple-50: #f6edfd;
  --funkyPurple-100: #e7d6f6;
  --funkyPurple-200: #cfa9ee;
  --funkyPurple-300: #b679e6;
  --funkyPurple-400: #a051e1;
  --funkyPurple-500: #9339dd;
  --funkyPurple-600: #8d2cdd;
  --funkyPurple-700: #7920c4;
  --funkyPurple-800: #6b1baf;
  --funkyPurple-900: #5d1499;

  --habibiViolet-50: #fceef8;
  --habibiViolet-100: #f4d8ed;
  --habibiViolet-200: #ecadda;
  --habibiViolet-300: #e37fc6;
  --habibiViolet-400: #dc5ab6;
  --habibiViolet-500: #d843ac;
  --habibiViolet-600: #d638a8;
  --habibiViolet-700: #bd2c93;
  --habibiViolet-800: #a92483;
  --habibiViolet-900: #941972;
}
