@import 'fonts.css';
@import "typography.css";

body{
  background: linear-gradient(180deg, #0E0317 0%, #1A1A1A 100%)
}

header{
  background-image: url('../../public/assets/images/background_header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

