<style></style>

<footer class="w-full max-w-screen-xl">
  <div class="flex flex-wrap justify-between items-center">
    <!-- Footer Menu -->
    <div class="w-full sm:w-auto mb-6 sm:mb-0">
      <ul class="flex flex-wrap justify-center sm:justify-start space-x-6">
        <li><a href="#" class="hover:text-funkyPurple-300">Home</a></li>
        <li><a href="#" class="hover:text-funkyPurple-300">Features</a></li>
        <li><a href="#" class="hover:text-funkyPurple-300">Pricing</a></li>
        <li><a href="#" class="hover:text-funkyPurple-300">About Us</a></li>
        <li><a href="#" class="hover:text-funkyPurple-300">Contact</a></li>
        <li>
          <a href="#" class="hover:text-funkyPurple-300">Request Demo</a>
        </li>
      </ul>
    </div>

    <!-- Social Media Links -->
    <div class="w-full sm:w-auto">
      <ul class="flex justify-center sm:justify-end space-x-4">
        <li><a href="#" class="hover:text-funkyPurple-300">Facebook</a></li>
        <li><a href="#" class="hover:text-funkyPurple-300">Twitter</a></li>
        <li><a href="#" class="hover:text-funkyPurple-300">LinkedIn</a></li>
      </ul>
    </div>
  </div>

  <!-- Copyright and Legal -->
  <div class="text-center mt-8 text-sm">
    <p>
      &copy; 2024 Clubware.io. All rights reserved. | Privacy Policy | Terms of
      Use
    </p>
  </div>
</footer>
