<style></style>

<footer class="w-full max-w-screen-xl space-y-6">
  <!-- Footer Menu -->
  <div class="w-full sm:w-auto">
    <ul class="flex flex-wrap justify-center space-x-6">
      <li><a href="#" class="hover:text-funkyPurple-300">Home</a></li>
      <li><a href="#" class="hover:text-funkyPurple-300">Features</a></li>
      <li><a href="#" class="hover:text-funkyPurple-300">Pricing</a></li>
      <li><a href="#" class="hover:text-funkyPurple-300">About Us</a></li>
      <li><a href="#" class="hover:text-funkyPurple-300">Contact</a></li>
      <li>
        <a href="#" class="hover:text-funkyPurple-300">Request Demo</a>
      </li>
    </ul>
  </div>

  <!-- Copyright and Legal -->
  <div class="text-center text-sm">
    <p>
      &copy; 2024 Clubware.io. All rights reserved. | Privacy Policy | Terms of
      Use
    </p>
  </div>
</footer>
