---
import Button from "../ui/Button.astro";
import Logo from "../Logo.astro";
---

<style>
  nav a {
    @apply hover:bg-habibiViolet-800 px-3 py-2 rounded-md text-sm font-medium transition;
  }

  .request-button {
    @apply bg-habibiViolet-800 hover:bg-gray-100 hover:text-habibiViolet-800 !important;
  }

  header {
    background-image: url("../../public/assets/images/background_header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>

<nav class="sm:flex justify-between py-8 max-w-screen-xl mx-auto hidden">
  <Logo />
  <ul class="flex gap-1">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Features</a>
    </li>
    <li>
      <a href="#">Pricing</a>
    </li>
    <li>
      <a href="#">About Us</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="#" class="request-button">Request Demo</a>
    </li>
  </ul>
</nav>

<header class="text-center flex flex-col h-[600px] w-full py-24">
  <div class="flex justify-center mb-8">
    <div class="bg-black bg-opacity-55 sm:grow"></div>
    <div class="max-w-screen-xl w-full grow text-left">
      <div class="flex">
        <div class="bg-black bg-opacity-55 py-12 pr-12">
          <h1 class="text-5xl">From Backstage to Front Desk</h1>
          <p class="text-3xl mt-8">All Your Club Needs in One Place.</p>
        </div>
      </div>
      <div class="grow"></div>
    </div>
    <div class="sm:grow"></div>
  </div>
  <div class="flex justify-start">
    <div class="sm:grow"></div>
    <div class="max-w-screen-xl text-left w-full grow">
      <Button classes="shadow-2xl"> REQUEST A DEMO </Button>
    </div>
    <div class="sm:grow"></div>
  </div>
</header>
