---
import PriceCard from "../ui/PriceCard.astro";

// Define features for each plan
const selfHostedFeatures = [
  { name: "Basic", included: true },
  { name: "Inventory Control", included: true },
  { name: "Team Scheduling", included: true },
  { name: "Shift Scheduling", included: true },
  { name: "Guest Relations", included: true },
  { name: "Ticket Sales", included: true },
  { name: "Updates", included: false },
  { name: "Backup and Recovery", included: false },
  { name: "Additional Storage", included: false },
  { name: "Custom Features", included: false },
];

const basicPlanFeatures = [
  { name: "Enhanced", included: true },
  { name: "Inventory Control", included: true },
  { name: "Team Scheduling", included: true },
  { name: "Shift Scheduling", included: true },
  { name: "Guest Relations", included: true },
  { name: "Ticket Sales", included: true },
  { name: "Updates", included: true },
  { name: "Backup and Recovery", included: false },
  { name: "Additional Storage", included: false },
  { name: "Custom Features", included: false },
];

const proPlanFeatures = [
  { name: "Military-grade", included: true },

  { name: "Inventory Control", included: true },
  { name: "Team Scheduling", included: true },
  { name: "Shift Scheduling", included: true },
  { name: "Guest Relations", included: true },
  { name: "Ticket Sales", included: true },
  { name: "Updates", included: true },
  { name: "Backup and Recovery", included: true },
  { name: "Additional Storage", included: true },
  { name: "Custom Features", included: true },
];
---

<style>
  li {
    padding: 0.5rem;
  }
</style>

<!-- Pricing Overview -->
<section id="pricing"  class="main-section">
  <h2 class="section-heading">Pricing Overview</h2>

  <!-- Pricing Cards -->
  <div
    class="flex flex-col sm:flex-row justify-center items-center sm:justify-between gap-8 w-full"
  >
    <PriceCard
      planName="Self Hosted"
      price="Free"
      features={selfHostedFeatures}
    />

    <PriceCard planName="Basic" price="€50" features={basicPlanFeatures} />

    <PriceCard planName="Pro" price="€200" features={proPlanFeatures} />
  </div>
</section>
