---
import Button from "../ui/Button.astro";
---

<style>
  input,
  textarea {
    @apply w-full p-3 bg-gray-950 bg-opacity-50 rounded-md;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-400;
  }

  input:focus,
  textarea:focus {
    @apply outline-none ring-2 ring-funkyPurple-900;
  }
</style>
<!-- Request a Demo -->
<section id="requestdemo" class="main-section">
      <h2 class="section-heading">Request a Demo</h2>
  <div class="flex flex-col items-start sm:flex-row gap-16">
    <div class="w-full sm:w-1/3 space-y-4">
      <p class="text-lg">
        Discover how Clubware.io can transform the management of your club or
        event with a personalized demonstration.
      </p>
      <p class="text-lg">
        Fill out the form below to schedule a live demo and see firsthand how
        our comprehensive suite of tools can streamline your operations, enhance
        your staff coordination, and improve guest relations.
      </p>
      <p class="text-lg">Experience the future of club management today.</p>
    </div>

    <!-- Form -->
    <form action="#" method="POST" class="space-y-6 w-full sm:w-auto grow">
      <div>
        <label for="name" class="block mb-2 text-sm font-medium"
          >Your Name</label
        >
        <input
          type="text"
          id="name"
          name="name"
          required
          class="card-shadow"
          placeholder="Enter your name"
        />
      </div>
      <div>
        <label for="email" class="block mb-2 text-sm font-medium"
          >Your Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          required
          class="card-shadow"
          placeholder="Enter your email"
        />
      </div>
      <div>
        <label for="phone" class="block mb-2 text-sm font-medium"
          >Phone Number</label
        >
        <input
          type="tel"
          id="phone"
          name="phone"
          class="card-shadow"
          placeholder="Enter your phone number"
        />
      </div>
      <div>
        <label for="message" class="block mb-2 text-sm font-medium"
          >Message</label
        >
        <textarea
          id="message"
          name="message"
          rows="4"
          class="card-shadow"
          placeholder="Describe your needs"></textarea>
      </div>
      <div class="text-center">
        <Button type="submit">Submit Request</Button>
      </div>
    </form>
  </div>
</section>
