<style>
  h2 {
    margin-bottom: 2rem;
  }

  p {
    line-height: 2.2rem;
  }
</style>
<!-- About Us -->
<section class='w-full mb-24'>
  <div class='mx-auto max-w-screen-xl text-white'>
    <div class='flex flex-col md:flex-row justify-between md:space-x-12'>
      <!-- About Us Text -->
      <div class='md:w-1/2 pt-5'>
        <h2 class='text-4xl font-bold'>About Us</h2>
        <p class='text-xl'>
          Founded in 2020 by a trio of full-stack developers over many,
          Clubware.io was born from a recurring pain we noticed in both our
          professional and personal circles—inefficient club management. As
          veterans in the industry, we leveraged our expertise to build a
          robust, user-friendly platform that goes beyond basic functionality.
          Inspired by our passion for new technologies and driven by a desire to
          innovate, we set out to create a solution that stands apart in
          flexibility and functionality.
        </p>
      </div>

      <!-- Vision Section -->
      <div class='md:w-1/2 bg-pink-700 rounded-lg p-5'>
        <h2 class='text-4xl font-bold'>Our Vision</h2>
        <p class='text-xl'>
          Our vision is simple: to provide rich, cutting-edge software that
          feels good to use. At Clubware.io, we believe that powerful tools
          should also be easy to use, thereby empowering the communities we
          serve to manage their spaces. We’re committed to continuous
          improvement and passionate about making user interfaces intuitive and
          simple. We embrace differences, and we’re redefining what management
          software can do.
        </p>
      </div>
    </div>
  </div>
</section>
