---
import FeatureCard from '../components/ui/FeatureCard.astro';
---

<section class="py-12 px-6 text-white">
    <h2 class="text-3xl font-bold mb-6 text-center">Features Overview</h2>
    
    <!-- Feature List -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 ">
      <!-- Inventory Control -->
      <FeatureCard title="Inventory Control" image="../../public/assets/images/features_inventory_control.png">
        <p>Stay stocked: never over or under order with automatic inventory-level alerts.</p>
      </FeatureCard>
      
      <!-- Team Coordination -->
      <FeatureCard title="Team Coordination" image="../../public/assets/images/features_team_coordination.png">
        <p>Optimize your workflow. Ensure every team member is on track with role-specific to-dos.</p>
      </FeatureCard>
      
      <!-- Shift Planning -->
      <FeatureCard title="Shift Planning" image="../../public/assets/images/features_shift_planing.png">
        <p>Plan with ease. Balance your resources effectively to ensure a smooth operation.</p>
      </FeatureCard>
      
      <!-- Guest Management -->
      <FeatureCard title="Guest Management" image="../../public/assets/images/features_guest_managment.png">
        <p>Enhance your guest list management. Handle VIPs with care and track regular patrons.</p>
      </FeatureCard>
    </div>
  </section>
