---
interface ButtonProps {
  classes?: string;
}

const { classes = "" } = Astro.props as ButtonProps;
---

<button
  class={`bg-habibiViolet-800 hover:bg-gray-100 hover:text-habibiViolet-800 font-bold py-2 px-8 rounded shadow-2xl transition  ${classes}`}
>
  <slot />
</button>
