---

interface PriceCardProps {
  title: string;

}

const { title } = Astro.props as PriceCardProps;

---

<style>
  </style>

  <div class=`w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8`>
    <h3>{title}</h3>
    <ul class="space-y-5 my-7">
    <slot></slot>
    </ul>
  </div>